* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.fancy-font {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

html, body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

header {
    padding: 20px;
}

header h1 {
    font-size: 5em;
    font-weight: 100;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: intro 2.5s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

@keyframes intro {
  from {
    top: 50%;
    transform: translate(-50%, -50%);
  }
  to {
    top: 0%;
    transform: translate(-50%, 20px);
  }
}

article{
    opacity: 0;
    animation: show 1s;
    animation-delay: 3.5s;
    animation-fill-mode: forwards;
}

article img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    aspect-ratio: 1 / 1;
    width: 450px;
}

@keyframes show {
    from {opacity: 0;}
    to {opacity: 1;}
}